.tarjetas-swiper {
  display: flex;
  gap: 2rem;
  transition: all 0.3s;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  .tarjeta-virtual {
    width: 100%;
    aspect-ratio: 1.586;
    inset: 0;
    background: linear-gradient(135deg, var(--color-main), var(--color-second));
    -webkit-backdrop-filter: blur(150px);
    backdrop-filter: blur(150px);
  }
}


.swiper-scrollbar {
  &.swiper-scrollbar-horizontal{
    border-radius: 2px;
    height: 5px;
    width: 200px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}