//Colores
  $modo-claro:#f6f9fb;
  $modo-oscuro: #ffffff;
  $color-gray: #f8f8f9;
  $color-main: #CFF80B;
  $color-second: #FF2257;
  $texto-principal: #293951;
  $texto-secundario: #95aac9;

// Tipografía
$font-content: 'main', sans-serif;
$font-titles: 'bolds', sans-serif;
$font-light: 'light', sans-serif;
