@import './variables';
@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  scrollbar-width: none; /* Firefox: Oculta la barra de scroll */
  -ms-overflow-style: none; /* IE y Edge antiguos: Oculta la barra de scroll */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Edge modernos: Oculta la barra de scroll */
}


/*--------------------------------------------------------------
VARIABLES CSS
--------------------------------------------------------------*/

:root {
  /*========== Colores ==========*/
  --modo-claro:#f6f9fb;
  --modo-oscuro: #ffffff;
  --color-gray: #f8f8f9;
  --color-main: #CFF80B;
  --color-second: #FF2257;
  --texto-principal: #293951;
  --texto-secundario: #95aac9;

  /*========== Font and typography ==========*/
  --font-content: 'main', sans-serif;
  --font-titles: 'bolds', sans-serif;
  --font-size-default: 1.1rem;
  --font-size-h1: 6vw;
  --font-size-h1-md: 9vw;
  --font-size-h1-sm: 12vw;

  /*Animaciones*/
  /*Transición*/

  /*Sombras*/
  --general--shadow-01: rgba(6, 6, 6, .1);
  --general--shadow-02: rgba(6, 6, 6, .12);
  --general--shadow-03: rgba(20, 20, 43, .24);

}

html.dark {
  --modo-claro:#1a1d21;
  --modo-oscuro: #16191c;
  --color-main: #FFFF99;
  --color-second: #FF99A1;
  --texto-principal: #ffffff;
  --texto-secundario: #A1A1A1;
}

/*--------------------------------------------------------------
FONT FACE
--------------------------------------------------------------*/
@font-face {
  font-family: 'main';
  src: local('main'), url(../fonts/Aileron-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'bolds';
  src: local('bolds'), url(../fonts/Antonio-VariableFont_wght.ttf) format('truetype');
}

/*--------------------------------------------------------------
GENERAL STYLES
--------------------------------------------------------------*/


body {
  background-color: var(--modo-oscuro) !important;
  color: var(--texto-secundario) !important;
  font-size: var(--font-size-default) !important;
  transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.4, -0.12), color 0.5s cubic-bezier(0, 0, 0.05, -0.57);
}

h1, h2, h3 {
  /*text-transform: uppercase;*/
  font-weight: 700;
  font-family: var(--font-titles) !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: var(--texto-principal) !important;
}

body, p, li {
  font-family: var(--font-content) !important;
}

/*meses*/
.swiper-container {
  width: 100%; 
}

.custom-slide {
  width: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.swiper-button {
  padding: 8px 26px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap; 
  background-color: var(--modo-claro);
  color: var(--texto-principal);
}

.search.form-control{
  background-color: var(--modo-claro);
  border-color: var(--modo-claro);
  padding: 8px 26px 8px 0 !important;
}
.input-group-text{
  background-color: var(--modo-claro) !important;
  border-color: var(--modo-claro) !important;
  color: var(--texto-secundario) !important;
}
.form-control:focus {
  color: var(--texto-principal) !important;
  background-color: var(--modo-claro) !important;
  border-color: var(--modo-claro) !important;
  box-shadow: 0 0 0 0 #1e1e1e27 !important;
}
/* Estilo para navegadores que soportan ::placeholder */
::placeholder {
  padding: 8px 26px 8px 0 !important;
  opacity: 1; /* Asegúrate de que sea totalmente opaco */
}

/* Estilo para navegadores Webkit (Chrome, Safari, Edge) */
::-webkit-input-placeholder {
  color: var(--texto-secundario) !important; 
  opacity: 1;
}

/* Estilo para Mozilla Firefox */
:-moz-placeholder {
  color: var(--texto-secundario) !important; 
  opacity: 1;
}

::-moz-placeholder {
  color: var(--texto-secundario) !important; 
  opacity: 1;
}


/* Estilo para Microsoft Edge y IE */
:-ms-input-placeholder {
  color: var(--texto-secundario) !important; 
  opacity: 1
}

/*--------------------------------------------------------------
SIDEBAR
--------------------------------------------------------------*/
.transactions-list {
  background-color: var(--modo-oscuro);
}
/*--------------------------------------------------------------
Lateral
--------------------------------------------------------------*/
.app-lateral {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: var(--color-main);
  z-index: 100;
  transform: translate(calc(100% + 6vw), 0) rotate(0.001deg);
  transition: transform .8s cubic-bezier(.7, 0, .2, 1);
  will-change: transform;
}
.fixed-nav-rounded-div {
  position: absolute;
  left: 1px;
  transform: translateX(-100%);
  height: 100%;
  top: 0;
}
.fixed-nav-rounded-div .content-rounded {
  width: 6vw;
  height: 100%;
  transition: all .85s cubic-bezier(.7, 0, .2, 1);
  will-change: width;
}

.content-rounded {
  width: 100%;
  top: 0;
  position: relative;
  height: 10vh;
  overflow: hidden;
}

.fixed-nav-rounded-div .content-rounded .div-rounded{
  background: var(--color-main);
  height: 150%;
  content: "";
  display: block;
  position: absolute;
  width: 775%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-6.5%, -50%);
}

.div-rounded {
  width: 150%;
  content: "";
  display: block;
  position: absolute;
  background: var(--color-white);
  height: 750%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -86.666%);
  z-index: 1;
}
.app-lateral.active {
  transform: translate(0, 0) rotate(0.001deg);
}

.app-lateral.active .content-rounded{
  width: 0vw;
}

.info-fixed{
  height: 100%;
  position: relative;
  transform: translate(0, 0) rotate(0.001deg);
  transition: all .6s cubic-bezier(.7, 0, .2, 1);
  will-change: transform;
}
.btn_contacto {
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  font-size: 40px;
  font-weight: 600;
}
.app{
  transform: translate(0, 0) rotate(0.001deg);
  transition: transform .9s cubic-bezier(.7, 0, .2, 1);
}

.app.active {
  transform: translate(calc(-20% + 6vw), 0) rotate(0deg);
  transition: transform .9s cubic-bezier(.7, 0, .2, 1);
}

/*--------------------------------------------------------------
SIDEBAR
--------------------------------------------------------------*/
.col-sidebar {
  position: relative;
  z-index: 1020;
}

.btn.btn-sidebar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: var(--texto-principal);
  border: 0px;
  background-color: var(--modo-claro);
}
.btn.btn-sidebar.dropdown-toggle::after {
  content: none !important; 
}
.content-info{
  background-color: var(--modo-claro);
}
@media (max-width: 576px) {
  /*--------------------------------------------------------------
  SIDEBAR
  --------------------------------------------------------------*/
  .app-lateral {
    width: 100%;
    transform: translate(calc(100% + 20vw), 0) rotate(0.001deg);
  }

  .fixed-nav-rounded-div {
    .content-rounded {
      width: 20vw;
    }
  }
}

@media (min-width: 576px) {
  /*--------------------------------------------------------------
  SIDEBAR
  --------------------------------------------------------------*/
  /*.col-sidebar {
    top: 0;
    right: auto;
    left: 0;
    width: 92px;
  }
  .col-content{
    max-width: calc(100% - 92px);
  }*/
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  /*#slide-meses {
    width: 600px;
  }*/
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1200px) {

}
